* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #4680c2;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

header .navbar ul {
    list-style-type: none;
    display: flex;
}

header .navbar ul li {
    margin-left: 20px;
}

header .navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

header .navbar ul li a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex: 1;  /* Чтобы основная часть занимала весь экран */
    justify-content: space-between;
    padding: 20px;
    overflow: hidden;
}

.left-sidebar, .right-sidebar {
    width: 20%;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 80px);  /* Высота на весь экран, учитывая header */
    overflow-y: auto;
}

.left-sidebar h3, .right-sidebar h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.main-feed {
    width: 55%;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 80px);  /* Высота на весь экран */
    overflow-y: auto;
}

.tabcontent {
    display: none;
}

.tabcontent h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.tabcontent p {
    font-size: 16px;
}

.navbar ul li a.active {
    font-weight: bold;
    text-decoration: underline;
}

footer {
    background-color: #4680c2;
    text-align: center;
    padding: 10px;
    color: white;
}
